aiohttp==3.7.3
altgraph==0.17
aRez==0.1.7
async-timeout==3.0.1
attrs==20.3.0
bottle==0.12.19
bottle-websocket==0.2.9
cffi==1.14.4
chardet==3.0.4
click==7.1.2
Eel==0.12.4
future==0.18.2
gevent==20.12.1
gevent-websocket==0.10.1
greenlet==0.4.17
idna==3.1
multidict==5.1.0
pefile==2019.4.18
pycparser==2.20
pyinstaller==4.2
pyinstaller-hooks-contrib==2020.11
PyQt5==5.15.2
pyqt5-plugins==5.15.2.2.0.1
PyQt5-sip==12.8.1
PyQt5-stubs==5.14.2.2
pyqt5-tools==5.15.2.3
PyQt5Designer==5.14.1
python-dotenv==0.15.0
pywin32-ctypes==0.2.0
qt5-applications==5.15.2.2.1
qt5-tools==5.15.2.1.0.1
typing-extensions==3.7.4.3
whichcraft==0.6.1
yarl==1.6.3
zope.event==4.5.0
zope.interface==5.2.0
